body {
    padding-top: 65px;
    margin: 0;
    background: rgb(29, 53, 87);
    background: linear-gradient(225deg, rgba(29, 53, 87, 1) 0%, rgba(69, 123, 157, 1) 37%, rgba(168, 218, 220, 1) 78%);
}

nav {
    top: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    font-size: 1.2em;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 2em;
    max-width: 70%;
}

nav li {
    flex: auto;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}