body {
    padding-top: 65px;
    margin: 0;
    background-color: #60a9ff;
}

nav {
    top: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    font-size: 1.2em;
    height: 60px;
}

nav ul {
    display: flex;
    gap: 2em;
    max-width: 70%;
}

nav li {
    flex: auto;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section{
  background-color: #FFFFFF;
  margin: 15px 00;
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  padding: 10px 15px;
}

#languages {
  display: flex;
  justify-content: space-between;
}

.language {
  text-align: center;
  flex-basis: 30%;
  margin-bottom: 20px;
}

.language img {
  width: 100%;
  max-width: 90px;
}

.language .caption{
  text-align: center;
  margin-top: 10px;
}

.project{
  padding: 4px 10px;
  background-color: #f5fafa;
  border: 1px solid  #60a9ff;
  border-radius: 15px;
}

.used-languages{
  display: flex;
  justify-content: space-evenly;
}
.project img{
    width: 100%;
    max-width: 70px;
}

#contact-me img{
  width: 100%;
  max-width: 100px;
  margin: 10px 15px;
}
